{% extends "base.html" %}

{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.section{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
background: linear-gradient(to bottom, #FFB88C, #DE6262); 
width:100%;
}


</style>

{% endblock %}

{% block content %}
{% for p in post.items %}
<section class="section">
    <div class="container bg-light">
<article class="media content-section ">
<img class="p-2 rounded article-img" src="{{url_for('static',filename='images/'+ p.author.image_file)}}">
<div class="media-body">
<div class="article-metadata">
 <a class="mr-2" href="{{url_for('userposts',id=p.id)}}">{{p.author.username}}</a>
 <small class="text-muted">{{p.date_posted.strftime('%Y-%m-%d')}}</small>   
 <div class="text-primary"><ion-icon name="globe-outline"></ion-icon></div>
</div>
<h2><a class="article-title" href="{{url_for('userposts',id=p.id)}}">{{p.title}}</a></h2>
<p class="article-content">{{p.content}}</p>
</div>
</article>

{% endfor %}
<div class="section text-center p-3">
    {% for page_num in post.iter_pages() %}
    {% if post.page==page_num %}
    <a class="btn btn-info btn-sm" href="{{url_for('main',page=page_num)}}">{{page_num}}</a>
    {% else %}
    <a class="btn btn-outline-info btn-sm" href="{{url_for('main',page=page_num)}}">{{page_num}}</a>
    {% endif %}
    {% endfor %}
    <hr class="primary">
    </div>
</section>
</div>

{% endblock %}