{% extends 'base.html' %}


{% block head %}
<style>

    :root {
  --lightblue: #f6f9fc;
  --red: #d64041;
}

a,
a:hover {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.bg-lightblue {
  background: var(--lightblue);
}

.bg-red {
  background: var(--red);
}

.text-red {
  color: var(--red);
}

.container-fluid-max {
  max-width: 1200px;
}

.cover {
  background: no-repeat center/cover;
  margin-top:auto;
}

.p-15 {
  padding: 15px;
}

/* SCROLL ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scroll .page-header {
  background: var(--red);
}

.scroll .hero {
  transform: scale(0.98);
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  transition: background 0.5s ease-in-out;
}

.page-header .navbar {
  padding: 1rem 0;
}

.page-header .navbar-toggler {
  /* the variable is inherited from BS4 built-in variables */
  border-color: var(--white); 
}

.title{
    font-weight: 800;
    font-size: 30px;
    color:#d64041;
    font-family:Lucida Calligraphy;
}
.content{
    font-family:serif;
    font-size: 18px;

}

/* BANNER SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.hero .container-fluid {
  z-index: 10;
}
#action{

    background:linear-gradient(to bottom, #FFB88C, #DE6262);
   
}
.article-img{
    width:100%;
}

#divv{
    background-repeat: no-repeat;

}
/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--red);
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {
  .page-footer .footer-child {
    text-align: center;
  }
  .article-img{
      width:100%;
      height:90%;
  }
}


</style>
<script>

const $body = $("body");
const $header = $(".page-header");
const $navCollapse = $(".navbar-collapse");
const scrollClass = "scroll";

$(window).on("scroll", () => {
  if (this.matchMedia("(min-width: 992px)").matches) {
    const scrollY = $(this).scrollTop();
    scrollY > 0
      ? $body.addClass(scrollClass)
      : $body.removeClass(scrollClass);
  } else {
    $body.removeClass(scrollClass);
  }
});

$(".page-header .nav-link, .navbar-brand").on("click", function(e) {
  e.preventDefault();
  const href = $(this).attr("href");
  $("html, body").animate({
    scrollTop: $(href).offset().top - 71
  }, 600);
});
    </script>

{% endblock %}
{% block content%}

<section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cappadocia.jpg);">
    <div class="container-fluid container-fluid-max">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <h1 class="text-white">Live an unforgettable experience in Cappadocia!</h1>
          <div class="mt-3">
            <a class="btn bg-red text-white mr-2" href="" role="button">Book Now</a>
            <a class="btn bg-red text-white" href="" role="button">Select Your Package</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% for p in post.items%}
  <section id="featured-destinations" class="featured-destinations bg-lightblue ">
    <div class="row no-gutters shadow-lg p-3 mb-5 bg-white rounded" id="action" style=" ">
      <div class="col-md-6">
        <div class="p-15"">
        <p>By <img src="{{url_for('static',filename='images/'+p.author.image_file)}}">{{p.author.username}}</p>
          <h3 class="title">{{p.title}}</h3>
          <p class="content"><strong></strong> {{p.content}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="vh-100 cover""><img class="article-img" src="{{url_for('static',filename='post_images/'+p.picture)}}"></div>
      </div>
    
  </section>
  {% endfor %}
  <div class="section text-center p-3">
    {% for page_num in post.iter_pages() %}
    {% if post.page==page_num %}
    <a class="btn btn-info btn-sm" href="{{url_for('main',page=page_num)}}">{{page_num}}</a>
    {% else %}
    <a class="btn btn-outline-info btn-sm" href="{{url_for('main',page=page_num)}}">{{page_num}}</a>
    {% endif %}
    {% endfor %}
    <hr class="primary">
    </div>
</section>
</div>

{% endblock %}