{% extends 'base.html' %}
{% block head %}
<style>
    body{
    background:linear-gradient(to left, #000428 , #004e92);
    font-family:serif;
    font-size: 20px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container bg-light p-2 rounded">
<h2>posts</h2>

<section class="section">
    <div class="content">
<form method="post" action="" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="form-group" id="title">
        {{form.title.label()}}
        {{form.title(class="form-control")}}
    </div>
    <div class="form-group" id="content">
        {{form.content.label()}}
        {{form.content(class="form-control")}}
    </div>
    <div class="form-group">
        {{form.picture.label(class="btn btn-outline-secondary")}}
        {{form.picture()}}
    </div>
    <div class="form-group" id="submit">
        {{form.submit(class="btn btn-success")}}
    </div>
</form>
</div>
</section>
</div>

{% endblock %}

