{% extends 'base.html' %}
{% block head %}
<style>
    body{

        background:linear-gradient(to left, #000428 , #004e92);
    }
.section{
background-color: white;
font-family:serif;
font-size: 18px;
    
}

</style>
{% endblock %}

{% block content %}
<h1>Profile</h1>
<section class="section p-2">
    <br>
<div class="media">
    <img class="rounded account-img" src="{{ image_file }}" alt="photo not found">
    <div class="media-body">
      <h2 class="account-heading">{{current_user.username}}</h2>
      <p class="text-secondary">{{current_user.email}}</p>
    </div>
</div>
    <form method="post" action="/profile" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {% if message %}
        <p class="text-danger">{{message}}</p>
        {% endif %}
    {{form.username.label(class="form-control-label")}}
    {% if form.username.errors %}
    {{form.username(class="form-control is-invalid")}}
    <div class="invalid-feedback">
        {% for error in form.username.errors %}
            <span>{{error}}</span>
        {% endfor %}
    </div>
    {% else %}
        {{form.username(class='form-control form-control-sm')}}
    {% endif %}
    </div>
    <div class="form-group">
        {{form.email.label(class="form-control-label")}}
        {% if form.email.errors %}
        {{form.email(class="form-control is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{error}}</span>
            {% endfor %}
        </div>
       {% else %}
        {{form.email(class="form-control")}}
        {% endif %}
    </div>

    <div class="form-group">
        {{form.picture.label()}}
        {{ form.picture(class="form-control-file")}}
        {% if form.picture.errors %}
        {% for errors  in form.picture.errors %}
        <span class="text-danger"> {{error}}</span>
        {% endfor%}
        {% endif %}
    </div>

    <div class="form-group">
        {{form.submit(class="btn btn-primary")}}
    </div>

</form>

</div>
</section>

{% endblock %}