{% extends 'base.html' %}
{% block head %}
<style>
    body{
    background:linear-gradient(to left, #FFFFFF , #D7E1EC);
    font-family:'Times New Roman', Times, serif;
    }
</style>
{% endblock %}
{% block content %}
<div class="container bg-light p-2 rounded mt-2">
<h2> Posts</h2>

<section class="section p-2">
    <div class="content">
<form method="post" action="" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="form-group" id="title">
        {{form.title.label()}}
        {{form.title(class="form-control")}}
    </div>
    <div class="form-group" id="content">
        {{form.content.label()}}
        {{form.content(class="form-control")}}
    </div>
    <div class="form-group">
        {{form.picture.label(class="btn btn-outline-secondary")}}
        {{form.picture()}}
    </div>
    <div class="form-group" id="submit">
        {{form.submit(class="btn btn-success form-control")}}
    </div>
</form>
</div>
</section>
</div>

{% endblock %}

